//Bulma
$section-padding: 1rem 0.5rem;
@import '~bulma/bulma';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
html {
    scroll-behavior: smooth;
  }

.menu-item{
    border-bottom:1px solid #e8ebeb;
}

.horizontal-menu-nav{
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    position: sticky;
    top:0;
    background:$primary;
    li{
        display: inline-block;
        color:$white;
        a,a:visited{
            color:$white;
            &.active{
                color:$black;
            }
        }
    }
}
/* A little hack for scrolling to an anchor and it not being hidden by a fixed nav 
https://css-tricks.com/hash-tag-links-padding/ */
.anchor-header::before { 
    display: block; 
    content: " "; 
    margin-top: -45px; 
    height: 45px; 
    visibility: hidden; 
    pointer-events: none;
  }

.is-absolute{
    position: absolute;
}
#menu-edit-button{
    right:0;
}
#menuEditor{
    &.hide-menu-items{
        .menu_items{
            display: none;
        }
    }
    .menu-header{
        margin-bottom: 0 !important;
        margin-top:0 !important;
    }
    .menu-section{
        padding: 0.5rem !important;
    }
}